/* Hero Section Styles */
.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.travel-btn {
  padding: 12px 24px;
  font-size: 18px;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.travel-btn:hover {
  background: #f5a623;
  color: white;
}
